.autoupdate-button {
    border-width: 1px;
    border-color: olivedrab;
    border-radius: 3px;
    margin-right: 4px;
    color: olivedrab !important;
}

.autoupdate-button:hover {
    background-color: rgba(90, 90, 90, 0.3);
}

.autoupdate-button VisualElement,
.autoupdate-button .unity-text-element,
.autoupdate-button .unity-base-popup-field__arrow {
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    -unity-background-image-tint-color: olivedrab;
    color: olivedrab;
}